body {
    margin: 0;
    padding: 0;
    background-color: #23303C;
    font-family: "Inter";
}

#nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0F1923;
    padding: 10px;
}

#logo {
    display: flex;
    align-items: center;
}

#foto {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

#foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#valorant img {
    max-width: 200px;
    height: auto;
}

#menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#menu ul li {
    margin-right: 35px;
    color: white;
    padding: 20px;
    cursor: pointer;
}

#menu ul li:hover {
    text-decoration: underline;
}

.btn {
    background-color: #FF4655;
    border-radius: 15px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FF6381;
}