body {
    margin: 0;
    padding: 0;
    background-color: #23303C;
    font-family: "Inter";
}

/*  ----------------------  navbar -----------------------------------*/

#nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0F1923;
    padding: 10px;
}

#nav_bar ul li a{
    text-decoration: none;
    color: white;
}

#logo {
    display: flex;
    align-items: center;
}

#foto {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

#foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#valorant img {
    max-width: 200px;
    height: auto;
}

#menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#menu ul li {
    font-size: 20px;
    margin-right: 35px;
    color: white;
    padding: 20px;
    cursor: pointer;
}

#menu ul li:hover {
    text-decoration: underline;
}

.btn {
    background-color: #FF4655;
    border-radius: 15px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FF6381;
}

/*----------------------  section conheca -----------------------------------*/

#conheca {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#conheca #conheca_valorant {
    padding: 40px;
    width: 33%;
}

/*----------------------  section agentes -----------------------------------*/

#agentes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

#agentes #agentes_valorant {
    padding: 60px;
    width: 30%;
}

.imagem {
    overflow: hidden;
    width: 100vh; 
    height: 60vh; 
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#botao_agentes button{
    color: white;
    font-family: "Inter";
    font-size: 16px;
    width: 100%;
    height: 60px;
    background-color: #FF4655;
    border-radius: 10px;
    border: solid #FF4655;
    cursor: pointer;    
}

/*----------------------  section mapas -----------------------------------*/

#mapas{    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

#mapas #mapas_valorant {
    padding: 60px;
    width: 30%;
}

#botao_mapas button{
    color: white;
    font-family: "Inter";
    font-size: 16px;
    width: 100%;
    height: 60px;
    background-color: #FF4655;
    border-radius: 10px;
    border: solid #FF4655;
    cursor: pointer;    
}

#botao_mapas button:hover {
    background-color: #FF6381;
}

/*----------------------  section quiz -----------------------------------*/

#quiz {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    background-color: #0F1923;
    background-image: url(../assets/imgs/agentes_horizontal.png);
    Background-repeat: no-repeat;
    Background-position: center;
    background-size: 100%;
}


#texto {
    display: flex;
    flex-direction: column;
    text-align: center; /* Centraliza o texto */
    color: white;
    font-size: 24px;
}

#botao_quiz button{
    color: white;
    font-family: "Inter";
    font-size: 16px;
    width: 100%;
    height: 60px;
    background-color: #FF4655;
    border-radius: 10px;
    border: solid #FF4655;
    cursor: pointer;    
}

#botao_quiz button:hover {
    background-color: #FF6381;
}

/*----------------------  section sobre o jogo -----------------------------------*/

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 5%; 
}

#titulo {
    width: 90%; 
    text-align: center;
    margin-bottom: 20px; 
}

#sobre #titulo h2 {
    color: white;
    padding: 10px;
    font-size: 5vh; /* Definição de tamanho de fonte */
}


.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.video {
    width: 70%;
    height: 100%;
    padding: 20px;
}

.video iframe {
    width: 100vh;
    height: 60vh; 
    margin-left: 20px;
}

.texto {
    width: 50%;
    height: 30%;
    padding: 20px;
    text-align: justify;
}

#sobre hr {
    width: 90%;
    margin-top: 2%;
    background-color: #FF4655 ;
    border-color: #FF4655; 
    border-radius: 7px;
    height: 5px;
}
