body {
    margin: 0;
    padding: 0;
    background-color: #23303C;
    font-family: "Inter";
}

/*  ----------------------  navbar -----------------------------------*/

#nav_bar {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    background-color: #0F1923;
    padding: 10px;
}

#nav_bar ul li a {
    text-decoration: none;
    color: white;
}

#logo {
    display: flex;
    align-items: center;
}

#foto {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

#foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#valorant img {
    max-width: 200px;
    height: auto;
}

#menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#menu ul li {
    font-size: 20px;
    margin-right: 35px;
    color: white;
    padding: 20px;
    cursor: pointer;
}

#menu ul li:hover {
    text-decoration: underline;
}

.btn {
    background-color: #FF4655;
    border-radius: 15px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FF6381;
}

/*  ----------------------  cadastro -----------------------------------*/

#container {
    display: flex;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    align-items: center;
}

#cadastro {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#formulario_cadastro {
    height: auto;
}

#btn_cadastro, a{
    text-decoration: none;
    color: none;
    cursor: pointer;
}

#nome_cadastro {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    max-width: 100%;
    gap: 1rem;
}

#foto-cadastro {
    height: 800px;
    width: 600px;
    background-image: url(../assets/imgs/poster-cadastro.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#texto-cadastro h1 {
    height: auto;
    margin-top: 3%;
}

#formulario_cadastro #nome_cadastro h3 {
    color: white;
    font-weight: normal;
}

#historia {
    width: 100%;
    height: 20vh;
}

h3{
    color: white;
    margin-top: 4%;
    margin-bottom: 2px;
    padding: 5px;
    font-size: 18px;
    font-weight: normal;
}

.h3_nomes{
margin: 0px;
margin-top: 3%;
padding: 5px;
}

/*  ----------------------  INPUTS -----------------------------------*/


#cadastro input {
    color: rgb(192, 192, 192);
    background: none;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 4px;
    width: calc(100% - 0.5rem);
    height: 3vh;
    font-family: 'Inter';
    font-size: 16px;
    padding: 10px;
}


#cadastro textarea {
    background: none;
    border: 1px solid grey;
    border-radius: 3px;
    height: 10vh;
    width: calc(100% - 1rem);
    margin-bottom: 5%;
    padding: 10px;
}

.nomes {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 48%;
}

#cadastro button {
    background-color: #FF4655;
    border-radius: 15px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    font-family: "Inter";
    font-size: 20px;
    width: calc(100% + 1rem);
    height: 75px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ipt_nome_usuario:hover{
    outline: solid #FF4655 3px;
}

#ipt_nome_usuario:focus .h3_nomes{
    color: #FF4655;    
}
